<!doctype html>
<html ng-app="postItApp">
  <head>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>-->
    <script src="http://ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.1.3.min.js"></script>
  </head>
<body>
    <div ng-controller="PostItController">
      <label>PostIt:</label>
      <input type="text" ng-model="PostIt" placeholder="Enter your PostIt Note">
      <button type="button" onClick="addItem();">Post!</button>
      <button ng-click="add()">ng-Post!</button>
      <input id="clickMe" type="button" value="clickme" onclick="addItem2();" />
      <!-- <input name="textbox1" id="textbox1" type="text" />
      <input name="buttonExecute" onclick="execute(document.getElementById('textbox1').value)" type="button" value="Execute" /> -->
      <hr>
      <!-- The PostIt message you're currently entering! -->
      <h1>Your PostIt message is: {{ PostIt }}</h1>
      
    </div>

    <!--commit-->

    <!--
    <div ng-controller="CustomersController">
      Search: <input type="text" ng-model="searchText" />
      {{ searchText }}
      <br />
      <h3>Customers</h3>
      <table>
        <tr ng-repeat="cust in customers | filter:searchText">
          <td>{{ cust.name }}</td>
          <td>{{ cust.total | currency}}</td>
        </tr>
      </table>
    </div>
    -->

    <script src="js/lib/angular.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/lib/angular-animate.js"></script>

    
    <script>
      var app = angular.module('postItApp', []);
      
      
      app.controller('PostItController', function($scope) {
        $scope.customers = [
          {"id": 1, "name": "Ted", "total": 5.996},
          {"id": 2, "name": "Michelle", "total": 10.994},
          {"id": 3, "name": "Zed", "total": 10.99},
          {"id": 4, "name": "Tina", "total": 15.994}
        ];
      });
      

      function PostItController($scope) {
       $scope.add = function() {
        client.getTable("Item").insert($scope.PostIt);

       }
      }
      
      var client = new WindowsAzure.MobileServiceClient(
          "https://grouppostbetadb.azure-mobile.net/",
          "hyCoAnJjoajhcntTKrzmnBPJaxKCiw45"
      );

      var item = { text: "1: This is Static" };
      client.getTable("Item").insert(item);

      var item = { text: "Awesome item" };
      client.getTable("Item").insert(item);

      function addItem()
      {
          var postMessage = document.getElementById("demo").innerHTML;

          var angMessage = gocument.getElementById("PostIt").innerHTML;

          //console.log(postMessage);
          console.log(angMessage);

      }

      function addItem2()
      {
        var item3 = { text: "3 ClickMe" };
          client.getTable("Item").insert(item3);
          //client.getTable("Item").insert(postItText);
      }


    </script>
  

  </body>
</html>